<template>
    <div>
        <img :src="user.avatar">
        <p>{{ fullName }}</p>
    </div>
</template>

<script>
export default {
    name: 'Details',
    props: ['id'],
    data () {
        return {
            user: {}
        }
    },
    computed: {
        fullName: function () {
            return Object.keys(this.user).length === 0 ? '' : `${this.user.first_name} ${this.user.last_name}`
        }
    },
    methods: {
        fetchUser: function () {
            this.axios.get(`/api/users/${this.id}`)
                .then((response) => this.user = response.data.data)
        }
    },
    created: function () {
        this.fetchUser()
    }
}
</script>

