<template>
    <div class="row justify-content-center">
        <input type="button" value="Previous" :disabled="page <= 1" @click="clickedPrevious">
        <h2>{{ page }}</h2>
        <input type="button" value="Next"  :disabled="page >= totalPages" @click="clickedNext">
    </div>
</template>

<script>
export default {
    name: 'Pagination',
    props: {
        page: Number,
        totalPages: Number
    },
    methods: {
        clickedPrevious: function () {
            this.$emit('newPage', this.page - 1)
        },
        clickedNext: function () {
            this.$emit('newPage', this.page + 1)
        }
    }
}
</script>

