<template>
  <div class="hello">
    <h1>{{ title }}</h1>
    <ul class="list-group">
      <li v-for="user in users" v-bind:key="user.id" class="list-group-item">
        <router-link :to="{ name: 'details', params: { id: user.id }}">
        {{ user.first_name + ' ' + user.last_name }}
        </router-link>
      </li>
    </ul>
    <Pagination :page="page" :totalPages="totalPages" @newPage="newPageRequested" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination.vue'

export default {
  name: 'UsersList',
  components: {
    Pagination
  },
  props: {
    title: String
  },
  data () {
    return {
      users: [],
      page: 1,
      totalPages: 1
    }
  },
  methods: {
    fetchUsers: function () {
      this.axios.get(`/api/users?page=${this.page}`)
        .then((response) => {
          this.users = response.data.data
          this.totalPages = response.data.total_pages
        })
    },
    newPageRequested: function (pageNumber) {
      this.page = pageNumber
      this.fetchUsers()
    }
  },
  created() {
    this.fetchUsers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>